{% extends "base.html" %}
{% block content %}
<section class="post-list-wrap">
  <header class="post-list-header">
    <h1>#{{ term.name }}</h1>
  </header>
  <ul class="post-list">
    {%- for p in term.pages %}
    <li class="post-list-item">
      <a href="{{ p.permalink | safe }}">
        <time datetime="{{ p.date | date(format="%Y-%m-%d") }}">{{ p.date | date(format="%b %-d, %Y") }}</time>
        <h2>{{ p.title }}</h2>
        {%- if p.extra.summary %}<p>{{ p.extra.summary }}</p>{%- endif %}
      </a>
    </li>
    {%- endfor %}
  </ul>
</section>
{% endblock content %}
